.content{
  font-size:1.0em;
  display:flex; 
  flex-flow:column; 
  align-content:center;
  justify-content: center;
}
.noDefault{
  margin:0;
  padding: 0;
}
.title-font{
  
  font-size: 1.5em;
}
.overflowForY{
  overflow-y:auto;
}

.cancelOverflow{
  overflow:hidden;
}
.acolor{
    color:black;
}
//ESTE ORDEN ES IMPORTANTE
.noHighlight{
  box-shadow:none;
}
.highlight{
  box-shadow: -3px 3px 32px 20px rgba(8,2,181,1);
}
//ESTE ORDEN ES IMPORTANTE

.auth-box {
  border: 3px solid lightgrey;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 600px;
  margin: auto;
}
.login-form-container {
  width: 300px;
  margin: auto;
}

.registration-form-container {
  width: 400px;
  margin: auto;
}

.outer-area {
  margin-top: 100px;
}